/* I have made this without using container hight & width .recommended for ratio 1920*1080 or browser zoom in or zoom out needed  */


 /* Universal */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color:#F1F1F3;
}

.fira{font-family: "Fira Sans", serif;}
nav div h3{
  font-size: 32px;
  font-weight: bold;
color: black;
} 
a{text-decoration: none;}

/* shared: */
.transparent{
    background-color: transparent;}
.bg-primary{background-color: #C6E4D6;}
.bg-secondary{background-color: #ffff;}
.white{background-color: #ffff;}
.blue{background-color:#5490F5;}
.green{background-color: rgb(9, 161, 92);}
.yellow{background-color: rgb(255, 194, 57);}
.text-primary{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
  color:rgba(14, 14, 14, 0.7) ;
}
.share-box-title{
    font-size:20px ;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.text-headding{font-size: 32px;
    font-weight: 700px;
    line-height: 24px;
  color:rgba(14, 14, 14, 0.7);
}
  .button-first{
    font-size: 16px;
font-weight: 600;
border-radius: 8px;
width: 150px;
height: 50px;
padding: 10px 20px;
bottom: 50px;
border: none;}

.btn-primary{
    text-decoration:none ;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
}
.btn-secondary{
    text-decoration: none;
    color: white;
    background-color: #006A50;
    padding: 20px 100px ;
    border-radius: 8px;
    border: none;
}
/* main section start*/
.main{margin: 0px 160px;}
/* Navbar */
.navbar-item{
    display: flex;
    padding: 31px 160px 31px 160px;
    justify-content: space-between;
    align-items: center;
}
.nav-button:hover{
    background-color: #C6E4D6 ;
    transition: .5s;
    }

/* banner */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    gap: 64px;
    margin-bottom: 80px;
}
.banner-content{max-width:622px  ;
max-height: 326px ;
}
.content-sub-title{
    font-size: 24px;
    font-weight: 600px;
    color: rgba(12, 12, 12, .5);
    margin-bottom: 16px;
    
}
.content-title{  font-size: 56px;
    font-weight: 700px;
    margin-bottom: 35px;
    
}
.content-img{
    max-width: 474.3 px;
    max-height: 400px;
    object-fit: fill;

}
.banner-content a{text-decoration: none;}

/* Pillar */
section{
    margin-bottom: 80px;
}
.pillar-Bangladesh{display: flex;
flex-direction: column;
gap: 32px;
}
.pillar-title{
    font-size:40px ;
    font-weight: 700;
    margin-bottom: 15px;
}
.img-margin{width: 64px;
height:64px ;
}
.pillars{
    display: flex;
    justify-content:space-between;
    gap: 24px;
}
.pillar{
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 300px;
    height: 240px;
    padding: 24px;
    border-radius: 16px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* vision */

.vision{
    margin: 80px auto;
}
.vision-box{display: flex;
justify-content: space-between;
gap: 24px;
margin:32px auto;
}
.vision-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
}
.box{
    padding: 40px;
    border-radius: 16px;
width: 410px;
height: 325px;
}
.box-img{height: 60px;
width: 60px;
background-color: transparent;}
.box-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.box-secondary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.box-title{
    margin-top: 24px;
}
.box1{
    background-color: rgba(84, 144, 245, 0.2);
}

.box3{
    background-color: rgb(247, 235, 207);
}
/* Quote */
.block-quotes{
margin: 0;
gap:12px;
height: 160px;
padding: 48px 24px;
border-radius: 16px;
background-image: url('./assets/quote-bg.png');
background-repeat: no-repeat;
background-size:fill;
background-position: 20px 25px;
display: flex;
flex-direction: column;
justify-content: space-around;
border: 1px solid rgba(14, 14, 14, 0.15);
}

       /* table */

       .openion-matter{
        
        background-color: white;
       }
       .full-table{
        /* position: relative; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
       .heading-container{
        /* position: absolute; */
        display: flex;
        justify-content: space-between ;
        gap: 500px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        
       }



.table{
    /* position: absolute; */
    border-collapse: collapse;
    width: 1585px ;
    height: 409px;
}
 td{border: 1px solid black;}

.table-title{
    display: flex;
    gap: 14px;
    border: 1px;
}

/* News */
.news-part{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin:80px auto;
}
.news-bar{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-bar-title{
    font-size: 40px;
    font-weight: 400px;
}
.news-container{
    display: flex;
    flex-direction: column;
    gap: 30px; 
}
.news{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 48px;
    border-radius: 15px;
}
.news-content p{
  margin-bottom: 50px;
}
.calender{
    display: flex;
}

/* Donate */

.donation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}
.donation-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.donation-title{
font-size: 40px;
font-weight: 700px;
}
.title-description
{text-align: center;}

.card-box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}
.card{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15); ;
    font-size: 40px;
  font-weight: 700;
  border-radius: 16px;
  background-color: white;

}
.card:hover{
    background-color: #C6E4D6;
    cursor:pointer;
    transition: .5s;
}
.donation input{
    height: 15px;
    width: 970px;
    padding: 20px 40px;
    border: none;;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
   background-color: white;
}
.button-container button{
    border: none;
    padding: 18px 34px;
    height: 71px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(0, 106, 80)
}
/* Subscribe */
.subscribe{
    padding: 80px 100px;
height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 24px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.subscribe-title {
    font-size: 48px;
    font-weight: 700px;
    margin-top: 50% auto;
   }
   .input{
    padding: 5px;
    border: none;
   }
   .input-container{
    display: flex;
    align-items: center;
    gap: 0px;
   }
   .subscribe input  {
    border: none;
    padding: 18px 40px;
height: 35px;
width: 700px;
border-radius: 10px 0 0 10px;
   }
   .subscribe button{
    border: none;
    padding: 18px 34px;
    height: 71px;
    width: 170px;
    border-radius: 0 10px  10px 0;
    background-color: rgb(0, 106, 80)
}
/* main section end*/

/* footer */
.footer{
    padding:50px 160px;
margin: 0;
background-color:white;
height: 250px;
}
.footer-middle{
    margin:  auto 50PX;
    display: flex;
     gap: 40px;
     align-items: center;
     justify-content: center;
}
hr{margin: 40px 50px;}

.footer-title{
    font-weight: 700;
    Font-size: 32px;
    margin-top: 40px;
   }


   